<p id="notice"><%= notice %></p>

<dl>
  <dt>Speaker:</dt>
  <dd><%= avatar(@talk.speaker) %><%= @talk.speaker.first_name %>&nbsp;<%= @talk.speaker.last_name %></dd>
  <dt>Title:</dt>
  <dd><%= @talk.title %></dd>
  <dt>Abstract:</dt>
  <dd class="talk-abstract"><%= @talk.abstract_as_html %></dd>
</dl>

<% if @talk.created_by == current_user || current_user.try(:admin?) %>
  <%= link_to 'Edit', edit_talk_path(@talk) %> |
<% end %>

<%= link_to 'Back', talks_path %>
