<div class="span2">
  <%= avatar(user, size: 100) %>
</div>
<div class="span6">
  <dl>
    <dt>Name:</dt>
    <dd><%= link_to("#{user.first_name} #{user.last_name}".squish, user) %></dd>
    <dt>Email:</dt>
    <dd><%= user.email %></dd>
    <dt>About me:</dt>
    <dd><%= user.about_me %></dd>
  </dl>

  <% if user == current_user || current_user.try(:admin?) %>
    <%= link_to 'Edit', edit_user_path(user) %> |
  <% end %>

  <%= link_to 'Back', users_path %>
</div>
