<%= form_for(@annotation) do |f| %>
  <% if @annotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@annotation.errors.count, "error") %> prohibited this annotation from being saved:</h2>

      <ul>
      <% @annotation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= f.label :body %><br />
  <%= f.text_area :body, autofocus: true, rows: 10 %></div>

  <div><%= f.label :talk_id, 'Talk' %><br />
    <%= f.select :talk_id, Talk.all.map { |t| [t.title, t.id] }, { include_blank: true } %></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
