<h3><%= link_to @annotation.talk.title, @annotation.talk %></h3>
<h1><%= @annotation.referent %></h1>
<p>
  <%= @annotation.body_as_html %>
</p>

<%= link_to 'Edit', edit_annotation_path(@annotation) %> |
<%= link_to 'Back', annotations_path %>
