!!! 5
- application_name = Rails.application.class.to_s.split('::').first
%html(lang="en-US" class="#{controller_name}-#{action_name}")
  %head
    %title
      - if content_for?(:title)
        = yield (:title)
      - else
        = application_name
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{href: '/'}
            RailsGenius
          %ul.nav
            %li= link_to 'Talks', talks_path
            %li= link_to 'Annotations', annotations_path
          %ul.nav.pull-right
            %li.divider
            - if user_signed_in?
              %li
                = link_to edit_current_user_path do
                  = render 'users/avatar', user: current_user
                  Signed in as
                  = current_user.email
              %li.divider
              %li= link_to 'Sign out', destroy_user_session_path, :method => :delete
            - else
              %li= link_to 'Sign In', new_user_session_path
              %li.divider.hide-for-small
              %li= link_to 'Sign Up', new_user_registration_path
    .container-fluid
      .row-fluid
        .span8.offset3
          - flash.keys.each do |key|
            .alert{ class: "alert-#{key}" }
              %a.close{ href: '#', "data-dismiss" => "alert" } x
              %h4.alert-heading= key.capitalize
              - if flash[key].respond_to?(:each)
                - flash[key].each do |msg|
                  = msg
                  %br
              - else
                = flash[key]
              - flash.delete(key)
          #perspectives
            #main{class: "#{controller_name}-#{action_name}"}
              = yield
  = yield(:page_javascript) if content_for? :page_javascript
